@{
    ViewData["Title"] = "Home Page";
}

<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
    -->
<html>
<head>
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>
</head>
<body>
    <div>
        <button id="route">Route!</button>
        <button id="reverse">Reverse Route</button>
    </div>


    <!--The div element for the map -->
    <div id="map"></div>
    <script src="~/js/site.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAP9sQ79tg2oVLIOCvUQ6Wy4P-n-i5UaCU&callback=initMap">

/**/</script>



    <!--TRAVEL OPTIONS-->
    <input onchange="walkBox()"
           type="checkbox"
           name="walk"
           value="walk"
           id="feet" /> walk

    <input type="number" name="maxWalkDis" id="walkBox" placeholder="max walking distance" min="0" disabled />

    <input onchange="carBox()"
           type="checkbox"
           name="vehicle"
           value="car"
           id="vehicle" /> car



    <select name="fuel type" id="fuel type" disabled>
        <option disabled selected>fuel type</option>
        <option value="gasoline">Gasoline</option>
        <option value="diesel">Diesel</option>
        <option value="hybrid">Hybrid</option>
        <option value=" electricity">Electricity</option>
    </select>

    <input onchange="bikeBox()"
           type="checkbox"
           name="bike"
           value="bike"
           id="pedal" /> bike

    <input type="number" name="maxBikeDis" id="bikeBox" placeholder="max biking distance" min="0" disabled />

    <input type="checkbox"
           name="bus"
           value="bus"
           id="bus" /> bus

    <!--Directions-->
    <div id="right-panel"></div>
</body>
</html>